<div class="container-fluid container-fluid-custom py-md-5 md-5">
  <main>
      <div class="row py-md-5 text-center justify-content-center">
        <div class="col-md-12 col-lg-16 mb-6 mb-md-0">
          <h1 class="display-2 fw-bold mb-4 position-relative home-title">
            Write your thoughts.
          </h1>
          <p class="">
            Notes. is a simple to use free note taking app made with NodeJs , EJS and MongoDB. 
          </p>
          <a href="/auth/google" class="btn btn-primary bnt-lg">Try Notes. its Free</a>
        </div>

      </div>
  </main>
</div>